---
layout: default
---

<!-- Search functionality -->
<div id="book-search-input-inside" role="search">
    <input type="text" placeholder="Type to search" />
</div>

{{ content }}

<hr>
<h3>Connect</h3>
<a href="https://github.com/shivang1209-dot"><i class="fab fa-github fa-2x"></i></a>
<a href="mailto:{{ site.email }}"><i class="fas fa-envelope fa-2x"></i></a>
<a href="https://medium.com/@sh1v4ng"><i class="fab fa-medium fa-2x"></i></a>
<a href="https://tryhackme.com/r/p/S4vi0ur"><i class="fas fa-terminal fa-2x"></i></a>

<hr>
<footer style="float:left;"><small>&copy; {{ site.footer_left }}</small></footer>
<footer style="float:right;"><small><a href="{{ '/privacy_policy' | relative_url }}">{{ site.footer_right }}</a></small></footer>

